/* debug */


/* nav */


nav{
   background-color: #2C3350;
   height: 60px;
}

.__container-navbar{
    height: 100%;
}


/* fine nav */

/* inizio start-bootstrap */

.__background-green{
    background-color: #1ABC9C;


}

.__img-container{
    height: 200px;
    width: 200px;
    background-color: red;
   


}

.__linea{
    height: 7px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

/* fine bootstrap */


/* inizio portfolio */

.__portfolio{
    color: #323232;



}

.__riga-nera{
    border: 3px solid #323232;
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;


}

.__container-cards{
   height: 250px;
    background-color: rgb(51, 197, 64);


}