/* debug */


/* nav */


nav{
   background-color: #2C3350;
   height: 60px;
}

.__container-navbar{
    height: 100%;
}


/* fine nav */

/* inizio start-bootstrap */

.__background-green{
    background-color: #1ABC9C;


}

.__img-container{
    height: 200px;
    width: 200px;
    /* background-color: red; */
   


}

.__linea{
    height: 4px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
}

.fa-star{
    font-size: 30px;

}

/* fine bootstrap */


/* inizio portfolio */

.__portfolio{
    color: #323232;



}

.__linea-black{
    height: 4px;
    width: 100px;
    background-color: #323232;
    border-radius: 10px;
}




/* fine portfolio */


/* inizio about */

.__linea-white{
    height: 4px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 10px;
}


/* fine about */

/* inizio contact me */

.btn-primary{
    background-color: #1DB597;
}



/* fine contact me */


/* inizio footer */

.__background-blue{
    background-color: #3A546D ;

}


.__acquamarine{
    color: #1DB597;
}

.__bold{
    font-weight: bold;


}

.footer-container{
    
    max-width: 275px;
    text-align: center;

}

.__logos-social{
    font-size: 30px;



}







.__background-dark{
    background-color: #2C3E50;


}

